/* Variables */

// Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 400,700|Raleway:400,700&display=swap');

/* Sass maps - to get data from sass map use map-get($map-name, $prop-name) */

// Fonts
$fonts: (
  ff-body: (
    'Open Sans',
    sans-serif,
  ),
  ff-header: (
    'Raleway',
    sans-serif,
  ),
  fw-lighter: 300,
  fw-regular: 400,
  fw-bold: 700,
  fs-base: 14px,
  lh-base: 1.5,
);

// Media queries
$mq: (
  x-small: 375px,
  small: 812px,
  medium: 1024px,
  large: 1200px,
  x-large: 1440px,
);

// Colors
$colors: (
  c-white: hsl(0, 0%, 100%),
  c-dark-blue-intro-email: hsl(217, 28%, 15%),
  c-dark-blue-main: hsl(218, 28%, 13%),
  c-dark-blue-footer: hsl(216, 53%, 9%),
  c-dark-blue-testimonials: hsl(219, 30%, 18%),
  c-cyan: hsl(176, 68%, 64%),
  c-blue: hsl(198, 60%, 50%),
);
