.intro {
  padding: 1.2rem;
  background: var(--c-dark-blue-intro-email);

  &__image {
    width: 100%;
    max-width: 100%;
  }

  &__header {
    font-size: 1.5rem;
    text-align: center;
  }

  &__description {
    font-size: 1rem;
    text-align: center;
  }

  &__cta {
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    color: var(--c-white);
    background-image: linear-gradient(to right, var(--c-cyan), var(--c-blue));
    display: block;
    width: 220px;
    border-radius: 1.4rem;
    padding: 0.7rem 2.5rem;
    margin: 2rem auto;
  }
}
